html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: url(../CURSOR.png) 64 32, default;
  color:red;
  font-family:'Aktiv Grotesk', sans-serif;
}

.date{
  position: absolute;
  bottom: 90%;
  left:3%;
  text-align: left;
  font-size: 30px;
}
.date1{
  position: absolute;
  bottom: 90%;
  right:3%;
  text-align: right;
  font-size: 30px;
}
.loca{
  position: relative;
  bottom: 8%;
  text-align: center;
}

#gif{
  position: absolute;
  top:0;
  left:0;
  z-index: 9;
  width: 50vw;
  height: 50vh;
}
#gif2{
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 9;
  width: 50vw;
  height: 50vh;
}
#page-wrap, .pixi {
  position: relative;
  width: 50%;
}
#page-wrap.w50 {
  
  height: 100%;
  float: left;
}
#page-wrap {
  width: 100%;
  height: 100%;
}


#page-wrap img, .pixi img {
  display: none;
}




/*** canvas ***/
#canvas {
  height: 100%;
  width: 100%;
}

.curtain {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.curtain img {
  display: none;
}
